body{
    margin: 0;
    background-color: #cfc7c7;
    color: #333333;
}

header{
    text-align: center;
    background-color: #a50d0d;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1b1b1b;
}
.foto{
    width: 100%;
}

.sinopse{
    background-color: #000000;
    color: #cecece;
    font-family: monospace;
    margin-top: -25px;
    padding: 20px;
}

.info{
    font-size: 20px;
    color: #000000;
}

span{
    color: rgb(12, 14, 14);
    font-family: "Frijole", system-ui;
  font-weight: 100;
  font-style: normal;
}

.elenco{
    margin-top: 25px;
    padding: 12px;
    background-color: rgb(78, 78, 78);
    color: rgb(2, 2, 2);
    border: none;
    border-radius: 5px;
    font-size: 20px;
}